/********************************************************** */
/**********************  Envotek ************************ */
/**********************************************************

    TABLE OF CONTENT
    ========================

    01. Default CSS
    02. Hero Section
    03. Service Section
    04. Partner Section
    05. Choose Us Section
    06. Project Section
    07. Testimonial Section
    08. Call To Action
    09. Blog Section
    10. Page Banner
    11. About Us
    12. About Page Choose Us
    13. Team Section
    14. Service Details
    15. Project Details
    16. Blog Details
    17. Contact Section
    18. Main Footer


/****************************************************** */
/*******************  01. Default CSS ***************** */
/****************************************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #68616D;
    font-size: 17px;
    line-height: 1.8;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1F0039;
    font-weight: 700;
}

h1 {
    font-size: 55px;

}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

a:hover,
button:hover {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

button,
button:focus {
    outline: 0;
    border: none;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

/*** Preloader style ***/
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    /* background-color: #FFFFFF; */
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

.theme-btn {
    padding: 19px 36px;
    font-size: 18px;
    font-weight: 500;
    background: #3500d3;
    color: #ffffff;
    border-radius: 5px;
    text-transform: capitalize;
    border: 2px solid transparent;
    transition: all .3s;
    /* border-color: #ffffff; */
}

.theme-btn i {
    padding-left: 15px;
}

.theme-btn:hover {
    border-color: #ffffff;
    color: #ffffff;
    /* color: #9a1750; */
    /* background: transparent; */
}

.theme-btn:focus {
    box-shadow: none;
    border: 2px solid #00837c;
}

.section-title {
    max-width: 470px;
    margin: auto;
    margin-bottom: 55px;
}

.section-title span {
    color: #00837c;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.section-title h2 {
    line-height: 1.38;
}


/****************************************************** */
/*******************  02. Hero Section **************** */
/****************************************************** */
.hero-section {
    position: relative;
    z-index: 1111;
    height: 850px;
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-size: cover;
    background-position: center;
    background-image: url(../images/campaign-creators-gMsnXqILjp4-unsplash\ \(1\).jpg);
}

.hero-section::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .65;
    background: #0c0032;
}

.hero-section .hero-shape {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 27%;
    z-index: -2;
}

.hero-content {
    max-width: 500px;
}

.hero-content h1 {
    color: #ffffff;
    font-size: 55px;
    line-height: 1.25;
    margin-bottom: 20px;
}

.hero-content p {
    color: #c2bbbd;
    font-size: 20px;
    margin-bottom: 45px;
}


/****************************************************** */
/*****************  03. Service Section *************** */
/****************************************************** */
.service-item {
    position: relative;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 20px 40px;
    margin-bottom: 50px;
    transition: all .3s;
    background: linear-gradient(to right, #c8cbe4, #ffffff);
}

.service-item::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #3500d3, #FFFFFF);
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
}

.service-item:hover::after {
    opacity: 1;
}

.service-item .serv-iconimg {
    transition: 0.5s;
}

.service-item:hover .serv-iconimg {
    filter: brightness(0) invert(1);
}

.service-item .serv-iconimg img {
    width: 100%;
}

.serv-content {
    margin-left: 30px;
}

.serv-content h5 {
    line-height: 1.47;
    font-size: 22px;
    margin-bottom: 0;
}

.serv-content h5 a {
    color: #000000;
    font-weight: 700;
    transition: 0.5s;
}

.serv-content h5 a:hover {
    color: #ffffff;
}

.service-img {
    position: relative;
    z-index: 111;
    width: 100%;
    min-height: 400px;
    background-size: cover;
    height: calc(100% - 50px);
    background-position: center;
    background-image: url('../images/sample/service-img.jpg');
}

.service-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(to top, #100358, transparent 70%);
}

.service-details-btn {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
}



/****************************************************** */
/****************  05. Choose Us Section ************** */
/****************************************************** */
.chooseus-left-content {
    position: relative;
}

.chooseus-img {
    padding-right: 170px;
}

.chooseus-left-content .experience-years {
    position: absolute;
    top: 95px;
    right: 10px;
    transform: rotate(90deg);
}

.experience-years h1 {
    font-size: 65px;
    color: #190061;
}

.experience-content {
    position: absolute;
    padding: 35px 30px 25px 45px;
    max-width: 370px;
    left: 140px;
    bottom: 40px;
    background: #dfe1f5;
    border-bottom: 5px solid #190061;
    border-right: 5px solid #190061;
    border-radius: 0px 50px 0px 50px;
    z-index: 1;
}

.experience-content blockquote {
    color: #1e0136;
    margin-bottom: 0;
}

.quotation-icon {
    position: absolute;
    top: -25px;
    left: 45px;
    max-width: 60px;
}

.chooseus-right-content {
    max-width: 520px;
    margin-left: auto;
}

.chooseus-right-content .section-title {
    margin: 0;
    margin-bottom: 55px;
}

.chooseus-list ul li {
    margin-bottom: 30px;
    color: #0c0032;
    font-weight: 500;
}

.chooseus-list ul li i {
    padding: 6px 7px;
    background: #FFEFED;
    font-size: 20px;
    color: #4c2ba7;
    font-weight: 600;
    margin-right: 15px;
}

.chooseus-right-content blockquote,
.about-choose-us-left blockquote {
    color: #1F0039;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.chooseus-right-content p,
.about-choose-us-left p {
    margin-bottom: 0;
}




/****************************************************** */
/***************  07. Testimonial Section ************* */
/****************************************************** */
.testimonial-section {
    background: #FFFFFF;
}

.testimonial-section .section-title {
    max-width: 540px;
}

.testimonial-item {
    padding-top: 13px;
}

.testimonial-inner {
    position: relative;
    padding: 65px 40px 40px 50px;
    background: linear-gradient(to right, #dfe1f5, #FFFFFF);
    z-index: 11;
}

.testimonial-inner::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50px;
    bottom: -15px;
    border-left: 20px solid transparent;
    border-right: 0px solid transparent;
    border-top: 15px solid #dfe1f5;
    z-index: -1;
}

.quotation-img {
    position: absolute;
    top: -15px;
    left: 50px;
}

.testimonial-content p {
    color: #453f4a;
    font-size: 16px;
    margin-bottom: 0;
}

.testimonial-imgbox {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 35px;
}

.testimonial-img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.testimonial-imgdetails {
    margin-left: 25px;
}

.testimonial-imgdetails span {
    color: #453f4a;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
    display: block;
}

.testimonial-section .slick-dots {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.testimonial-section .slick-dots li {
    margin: 0 10px;
}

.testimonial-section .slick-dots li button {
    width: 10px;
    height: 10px;
    z-index: 1;
    text-indent: 2000px;
    border-radius: 50%;
    position: relative;
}

.testimonial-section .slick-dots li button:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #dfe1f5;
    transition: all .5s;
}

.testimonial-section .slick-dots li.slick-active button:before {
    background: #190061;
}

.testimonial-section .slick-dots li button:after {
    position: absolute;
    content: '';
    top: -4px;
    left: -4px;
    width: 18px;
    height: 18px;
    z-index: -1;
    opacity: 0;
    border-radius: 50%;
    background: #dfe1f5;
    transition: all .5s;
}

.testimonial-section .slick-dots li.slick-active button:after {
    opacity: 1;
}


/****************************************************** */
/*****************  08. Call To Action **************** */
/****************************************************** */
.cta-section {
    background: linear-gradient(to top, #dfe1f5, #ffffff);
}

.cta-section.bg-white {
    background: #ffffff;
}

.contact-withus {
    position: relative;
    padding: 50px 100px;
    background: url(../images/cta-bg.jpg);
    background-position: center;
    background-size: cover;
    border-bottom: 5px solid #dfe1f5;
    z-index: 1;
}

.contact-withus::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .95;
    background: #1F0039;
}

.contact-withus-content {
    max-width: 480px;
}

.contact-withus-content h3 {
    color: #FFFFFF;
    line-height: 1.43;
    margin-bottom: 0;
}

.contact-withus-num {
    text-align: right;
}

.contact-withus-num .contact-number {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
    transition: all .3s;
}

.contact-withus-num .contact-number:hover {
    color: #469bfc;
}




/****************************************************** */
/******************  10. Page Banner ****************** */
/****************************************************** */
.page-banner {
    height: 410px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 100px;
    margin-bottom: 25px;
    background: url(../images/banner-bg.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.page-banner::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.65;
    background-color: #1F0039;
}

.banner-content h2 {
    font-size: 55px;
    color: #FFFFFF;
    margin-bottom: 0;
}

.page-breadcrumb .breadcrumb {
    max-width: 200px;
    background: #46c2fc;
    border-radius: 5px;
    margin-bottom: 0;
    padding: 14px 25px;
    position: absolute;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
}

.breadcrumb .breadcrumb-item {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.breadcrumb .breadcrumb-item a {
    color: #FFFFFF;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\ea7c";
    color: #FFFFFF;
    font-family: IcoFont;
    margin-right: 5px;
    margin-left: 5px;
}



/****************************************************** */
/*****************  17. Contact Section *************** */
/****************************************************** */
.get-touch-left {
    max-width: 400px;
    background: #fff0ef;
    border-radius: 10px;
    padding: 90px 40px 45px;
}

.info-box {
    display: flex;
    margin-bottom: 22px;
}

.info-icon {
    margin-right: 25px;
}

.info-icon i {
    color: #fc5546;
    font-size: 19px;
}

.info-details p {
    color: #454049;
    font-size: 15px;
    margin-bottom: 0;
}

.info-details a {
    color: #454049;
    display: block;
    font-size: 15px;
    line-height: 1.9;
}

.info-details a:hover {
    color: #fc5546;
}

.get-touch-img {
    margin-top: 73px;
}

.get-touch-right h3 {
    margin-bottom: 50px;
}

.get-touch-right .custom-input,
.get-touch-right .custom-textarea {
    border-radius: 5px;
}

/* Contact Page Map */
.map-inner .map {
    height: 590px;
}

.leaflet-bottom.leaflet-right {
    display: none;
}


/****************************************************** */
/*******************  18. Main Footer ***************** */
/****************************************************** */
.footer-wrap {
    background: linear-gradient(to top, #dfe1f5, #fff9f9);
}

.footer-widget {
    margin-bottom: 50px;
}

.footer-widget h4 {
    margin-bottom: 35px;
}

.footer-widget.quick-links {
    max-width: 175px;
}

.quick-links ul li {
    line-height: 2.5;
    font-size: 16px;
}

.quick-links ul li i {
    padding-right: 25px;
}

.quick-links ul li a {
    color: #453F4A;
    transition: all .3s;
}

.quick-links ul li a:hover {
    color: #2056b9;
}

.footer-widget.latest-post {
    margin-right: -25px;
}

.footer-widget.latest-post h4 {
    margin-bottom: 42px;
}

.latest-post .post-item {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.post-item .post-image {
    width: 75px;
    flex: none;
}

.post-item .post-content {
    margin-left: 30px;
}

.post-item .post-content h6 {
    font-size: 17px;
    margin-bottom: 5px;
    line-height: 1.55;
}

.post-item .post-content h6 a {
    color: #453F4A;
    font-weight: 400;
    transition: all .3s;
}

.post-item .post-content h6 a:hover {
    color: #FC5546;
}

.post-item .post-content span {
    color: #FC5546;
    font-size: 14px;
}

.footer-widget.support,
.footer-widget.company {
    margin-left: auto;
}

/** Copyright Area **/
.copy-right-area {
    padding: 30px 0px;
}

.copy-right-text p {
    color: #1F0039;
    margin-bottom: 0;
    font-size: 16px;
}

.copy-right-text p span {
    color: #165e8d;
}


/*** Scroll Top style ***/
.scroll-top {
    z-index: 99999;
    width: 50px;
    height: 50px;
    right: 25px;
    bottom: 25px;
    color: white;
    display: none;
    cursor: pointer;
    position: fixed;
    font-size: 18px;
    border-radius: 50%;
    background: #9198e9;
    animation: pulse 2s infinite;
    -webkit-animation: pulse 2s infinite;
}
